$main-background-color: #e6e6e6;
$main-text-color: #191919;

$header-background-color: #000;
$header-border-color: #383838;
$header-text-color: #fff;

$footer-background-color: #383838;
$footer-border-color: #000;
$footer-text-color: #fff;

$product-header-background-color: #222831;
$product-header-border-color: #00adb5;
$product-header-text-color: #eeeeee;
$product-body-background-color: #393e46;
$product-body-text-color: #eeeeee;

$link-text-color: #fff;

$input-padding: 4px;
$input-font-size: 16px;
$input-height: 22px;
$input-color: #000;
$input-placeholder-color: #383838;
$input-border-color: #c7c6c6;
$input-border-color__focus: #4858ff;
$input-icon-color: #6f6e6e;

$button-background-color: #4858ff;
$button-text-color: #fff;

$alert-color: #fff;
$alert-default-background-color: #13a6d5;
$alert-success-background-color: #00d57a;
$alert-danger-background-color: #d51548;

$page-background-color: #fff;
